<section class="block">
  <header class="block__header">
    <h2>What our customers are saying</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit,
      voluptatum.
    </p>
  </header>
  <div class="container">
    <body style="padding: 5rem">
      <div class="card testimonial">
        <div class="grid grid--1x2">
          <div class="testimonial__image">
            <img src="images/testimonial.jpg" alt="A happy, smiling customer" />
            <span class="icon-container icon-container--accent">
              <svg class="icon icon--white icon--small">
                <use xlink:href="images/sprite.svg#quotes"></use>
              </svg>
            </span>
          </div>
          <blockquote class="qoute">
            <p class="qoute__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Cupiditate, error voluptates. Eligendi possimus voluptates
              deleniti similique itaque adipisci rerum exercitationem.
            </p>
            <footer>
              <div class="media">
                <div class="media__image">
                  <svg class="icon icon--primary qoute__line">
                    <use xlink:href="images/sprite.svg#line"></use>
                  </svg>
                </div>
                <div class="media__body">
                  <h3 class="media__title qoute__author">John Smith</h3>
                  <p class="qoute__organization">ABC Company</p>
                </div>
              </div>
            </footer>
          </blockquote>
        </div>
      </div>
    </body>
  </div>
</section>
